# Ignore virtual environment
env/
venv/

# Ignore Python cache files
__pycache__
__pycache__/
__pycache__/
**/__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore Django migrations
*/migrations/__pycache__/
*/migrations/*.pyc
*/migrations/*.pyo
*/migrations/*.pyd

# Ignore SQLite database
# *.sqlite3
# *.db
msme_marketing_analytics/__pycache__
# Ignore logs and debug files
*.log
logs/
*.pid
*.seed
*.bak

api/v1/urls/__pycache__/

api/v1/accounts/__pycache__/

# Ignore media/uploads (if applicable)
media/
staticfiles/

# Ignore environment variables & secrets
.env
*.pem
config.json

# Ignore compiled and temporary files
*.swp
*.swo
.DS_Store
Thumbs.db

# Ignore Gunicorn socket files
*.sock

# Ignore Nginx and Gunicorn logs
nginx-error.log
nginx-access.log
gunicorn-error.log
gunicorn-access.log

test.py